- name: Set the app favourites in the dock
  become: yes
  become_user: "{{ user }}"
  dconf:
    key: "/org/gnome/shell/favorite-apps"
    value: "['firefox_firefox.desktop', 'chromium_chromium.desktop', 'code.desktop', 'org.gnome.Terminal.desktop']"
    state: present
